@import './lib/fonts/averia-serif.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Averia Serif', Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #35332c;
	background-color: rgb(252, 211, 77);
	@apply dark:bg-black text-center font-light dark:text-gray-300;
}

p {
	@apply text-xl md:text-lg lg:text-2xl;
}

.font-sans {
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

.text-off-black {
	color: #35332c;
}
